---
layout: layout.njk
title: Contact Yvonne for an initial assessment of your dog.
description: 
keywords: 
css: index.css
heading: Contact Yvonne
subtext: Your dog will be all smiles and happy tails 
---

<div class="w3-panel w3-leftbar">
    <span style="font-size:150px;line-height:0.6em;opacity:0.2">❝</span>
    <p style="margin-top:-40px">
        <i class="w3-serif w3-xlarge">
            Both animals and humans have a lot of fun while learning and training. 
            Your dog will be all smiles and happy tails for these stimulating and supportive sessions.
            Most importantly, we always end the training session on a successful note.
        </i>
    </p>
</div>

  <!-- Initial Assessment -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Initial Assessment.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>First step to observe how the pets and owners interact in their home environment.</p>
    <p>This initial session is charged at a flat rate to allow for enough time to truly understand the dynamics and behaviours of the pack.</p>
    <p>From this basic assessment, I offer initial tips and advice to start correcting unwanted behaviour.</p>
    <p>We will discuss training options that meet each individual client's time schedule and budget.</p>
  </div>

  <!-- Techniques and skills -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Techniques & Skills.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <ul>
        <li>On leash and off-leash walking</li>
        <li>Recall</li>
        <li>Agility Training</li>
        <li>Dog and other species socialising</li>
        <li>Challenge and stimulation, such as sniffer training</li>
    </ul>
  </div>

