---
layout: layout.njk
title: Dog obedience and puppy socialisation training techniques.
description: Dog training techniques harnessing the power of love, trust and respect. 
keywords: dog training, puppy socialisation, puppy socialization, obedience training, Rottweiler, Dobermann, Pit bull, Bull terrier, Staffordshire terrier, American bull dog, German Shepherd, Boerboel, Rhodesian Ridgeback, Hermanus, Stanford, Sandbaai, Onrus, Hemel en Aarde Valley, Voëlklip, Gordons Bay, Somerset West, Strand, Stellenbosch, Western Cape, South Africa
css: index.css
heading: Dog Training
subtext: All your pet wants is to make you happy
---

<div class="w3-panel w3-leftbar">
    <span style="font-size:150px;line-height:0.6em;opacity:0.2">❝</span>
    <p style="margin-top:-40px">
        <i class="w3-serif w3-xlarge">
            They know if you are happy, you will shelter them, feed them and care for them. They want to care for humans as well, and will, if we can learn to show them with body language, simple verbal commands and eye contact; what we want from our pets and for the pack as a whole.
        </i>
    </p>
</div>

  <!-- Guiding Principles -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Guiding Principles.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>
        I don’t work with  fear or pain tactics,  this will cause the dog to react unpredictably. Training a dog, we establish the foundation of LOVE, TRUST, RESPECT consistently - NO FEAR.
    </p>
    <p>
        When we form an inter-species pack with our pets, we need to establish a family structure that makes each individual feel they are safe and they belong. We establish a solid structure by persistently enforcing maintainable boundaries and reinforce acceptable behaviour.
    </p>
    <ul>
        <li>We reinforce with praise.</li>
        <li>No treats during training.</li>
        <li>We set a calm controlled environment before taking on challenges.</li>
        <li>We address bad habits immediately not with fear, but with loving authority.</li>
    </ul>
  </div>

  <!-- Training Locations -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Training Locations.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>We train in safe, beautiful and stimulating outdoor environments all over Hermanus, Hemel en Aarde Valley, Voëlklip, Sandbaai and Stanford, Stellenbosch, Gordons Bay, Somerset West, Durbanville, Cape Town etc. </p>
    <p>We do a range of training sessions in public and semi public settings to socialise the animals in the real world.</p>
    <p>Each environment offers challenges such as:</p>
    <ul>
        <li>Enclosed and open spaces.</li>
        <li>Natural environments with streams, the ocean and forests.</li>
        <li>Neighbourhood streets and parks.</li>
        <li>Narrow pathways.</li>
        <li>Commercial activity areas.</li>
        <li>Outdoor activity areas, such as running and bike trails.</li>
        <li>Safe proximity to children, other dogs, livestock and wild animals.</li>
    </ul>

  </div>

  <!-- Puppy Socialisation -->
  <div class="w3-container" id="designers" style="margin-top:75px">
      <h1 class="w3-xxxlarge w3-text-red"><b>Puppy Socialisation.</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      <p>Best to begin when your puppy is still young. Somewhere between 10 weeks and 3 months old.</p>
      <p>These first few months of introducing your pet into it’s home and broader environment is critical to establish confidence, trust and structure.</p>
      <p>The training will familiarise the owner and pet with diverse circumstances and interactions that will pop-up in daily life.</p>
      <p>These sessions are invaluable to form a stimulating and loving bond between the puppy and humans for life.</p>
  </div>

  <!-- Obedience Training -->
  <div class="w3-container" id="designers" style="margin-top:75px">
      <h1 class="w3-xxxlarge w3-text-red"><b>Obedience Training.</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      <p>Can start from 3 months and up.</p>
      <p>Your dog is never too old to learn. Perhaps your dog never went to puppy school, or perhaps they dropped out. Perhaps you adopted an adult dog.</p>
      <p>This training is key to correct and prevent unwanted behaviour. With training, we can harness the potential talents of your pet that could make life much better.</p>
      <p>I work with all dog breeds. It does not matter if they are pedigree or mixed-breed.</p>
      <p>I enjoy a challenge, especially working with power/ working breeds, such as Rottweiler and Dobermann</p>
  </div>

  <!-- Specialised Training -->
  <div class="w3-container" id="designers" style="margin-top:75px">
      <h1 class="w3-xxxlarge w3-text-red"><b>Specialised Training.</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      <ul>
          <li>Security dog training</li>
          <li>Agility training</li>
          <li>Aggression and Socialising</li>
          <li>Disability assistant training, for the visually impaired or other physically impaired individuals that need an aid and companion.</li>
      </ul>
  </div>







