---
layout: layout.njk
title: Personal dog trainer and animal behaviourist working in Hermanus and surrounds
description: Yvonne is a professional dog trainer and animal behaviourist working in Hermanus, Stanford, Sandbaai, Onrus and surrounding Overberg areas within the Western Cape of South Africa. 
keywords: dog training, dog trainer, animal behaviorist, animal behaviourist, Hermanus, Stanford, Sandbaai, Onrus
css: index.css
heading: Meet Yvonne
subtext: Respect, Love & Trust
---

<div class="w3-panel w3-leftbar">
    <span style="font-size:150px;line-height:0.6em;opacity:0.2">❝</span>
    <p style="margin-top:-40px">
        <i class="w3-serif w3-xlarge">
            Those are the basic principles my training teaches both humans and animals. 

            I am a second generation dog trainer and animal behaviourist.

            My father was a dog trainer for the United States Army, based in Germany.

            I grew up with a father who taught me all he knew and tuned me into a deep connection with animals, humans and music.

            It was natural to follow in his footsteps and let my love and connection with animals take me around the world.
        </i>
    </p>
</div>

 <!-- Dog Training -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Dog Training.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>I completed a series of certified dog training through the United States Army, based in Germany.</p>
    <p>I further qualified as an animal behaviourist specialising not only in dogs, but also cats and horses. I completed my diploma in Oxford England.</p>
    <p>I have been practicing as a professional dog trainer and animal behaviourist for the past 35 years.</p>
    <p>I have trained dogs and animal handlers for the police, military and private clients.</p>
  </div>

  <!-- International Experience -->
  <div class="w3-container" id="designers" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Animal Rescue.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>My work has taken me across the world, from the United Kingdom, Germany and across Europe to Dubai and Nigeria.</p>
    <p>My passion for working with street animals and assisting animal rescue societies across the world, brought me to South Africa.</p>
    <p>Since 2019, I have trained domestic animals and assisted HAWS (Hermanus Animal Welfare Society) and Rottweiler Rescue with assessing and training pets for their new homes.</p>
  </div>

  <!-- Packages / Pricing Tables -->
  <div class="w3-container" id="packages" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Packages.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Some text our prices. Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Assessment</li>
        <li class="w3-padding-16">Home Environment</li>
        <li class="w3-padding-16">No Time Limit</li>
        <li class="w3-padding-16">
          <h2>R 800</h2>
          <span class="w3-opacity">per session</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-white w3-padding-large w3-hover-black">Contact Me</button>
        </li>
      </ul>
    </div>

    <div class="w3-third">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-red w3-xlarge w3-padding-32">Single</li>
        <li class="w3-padding-16">1 Session Per Week</li>
        <li class="w3-padding-16">One-on-one</li>
        <li class="w3-padding-16">Personalised</li>
        <li class="w3-padding-16">Real World</li>
        <li class="w3-padding-16">+/- 1 hour per session</li>
        <li class="w3-padding-16">Various Locations</li>
        <li class="w3-padding-16">
          <h2>R 400</h2>
          <span class="w3-opacity">per session</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-red w3-padding-large w3-hover-black">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-red w3-xlarge w3-padding-32">Multi</li>
        <li class="w3-padding-16">2+ Sessions Per Week</li>
        <li class="w3-padding-16">One-on-one</li>
        <li class="w3-padding-16">Personalised</li>
        <li class="w3-padding-16">Real World</li>
        <li class="w3-padding-16">+/- 1 hours per session</li>
        <li class="w3-padding-16">Various Locations</li>
        <li class="w3-padding-16">
          <h2>R 300</h2>
          <span class="w3-opacity">per session</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-red w3-padding-large w3-hover-black">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>






