---
layout: layout.njk
title: Personal dog trainer and behaviorist based in Hermanus, Overberg, Western Cape, South Africa
css: index.css
heading: This is my heading
subtext: This is my subtext
---

I am the index file
